.container
  %section
    .content-main
      .row
        .col-sm-7
          = raw @audio.iframe_html
        .col-sm-5
          .content-main__spec.content-spec
            .content-spec__title
              = image_tag 'icon-video.png'
              %h3.iblc 제목 : #{@audio.title}
            %p.content-spec__text
              내용 : #{@audio.body}
            %p.content-spec__text
              = @audio.link
            %p.content-spec__text
              - if @audio.owner_name
                권리자 : #{@audio.owner_name}
                (
                = link_to @audio.check_owner_url, @audio.check_owner_url
                )
            .content-spec__copyright
              - if @audio.extra_copyright
                = link_to (@audio.copy_right_image_url), @audio.copy_right_licence_info_url
              - else
                = link_to image_tag(@audio.copy_right_image_url), @audio.copy_right_licence_info_url

          .content-main__download.content-download
            .content-download__button.text-center
              - if @audio.download_url.present?
                %a{:href => audio_download_path(@audio), :role => "button", :class => "iblc"} 다운로드
              - else
                .text-center
                  %br
                  = '다운로드를 제공하지 않습니다.'
    .content
      - if @audio.tags.present?
        .content-box
          %h4.content-box__title
            ="키워드"
          %p.content-box__description
            - if @audio.tags
              - @audio.tags.each do |tag|
                %span.label.label-default
                  = link_to tag.name, [:tags, :contents, tag: tag.name]

      - if @friendly_audios.present?
        .content-box
          %h4.content-box__title
            ="관련 오디오"
          .content-box__imglist.content-imglist
            .img-list.als-container
              %span.als-prev
                = image_tag 'icon-arrow-left.png', alt: '왼쪽버튼'
              .als-viewport
                %ul.als-wrapper
                  - @friendly_audios.each do |fr_audio|
                    %li.als-item
                      = link_to image_tag(fr_audio.thumbnail_url), fr_audio
              %span.als-next
                = image_tag 'icon-arrow-right.png', alt: '오른쪽버튼'
            .clearfix
      - if @author_audios.present?
        .content-box
          %h4.content-box__title
            ="작가의 최신 오디오"
          .content-box__imglist.content-imglist
            .img-list.als-container
              %span.als-prev
                = image_tag 'icon-arrow-left.png', alt: '왼쪽버튼'
              .als-viewport
                %ul.als-wrapper
                  - @author_audios.each do |author_audio|
                    %li.als-item
                      = link_to image_tag(author_audio.thumbnail_url), author_audio
              %span.als-next
                = image_tag 'icon-arrow-right.png', alt: '오른쪽버튼'
            .clearfix
  .text-center
    = link_to '목록으로', [:admin, :audios], class: 'btn btn-default'
    = link_to '수정하기', [:edit, :admin, @audio], class: 'btn btn-default' if can? :update, @audio
    = link_to '삭제하기', [:admin, @audio], method: 'delete', data: {  confirm: '정말 삭제하시겠습니까?' }, class: 'btn btn-default'  if can? :destroy, @audio

:javascript
  $(function() {
    $(".content-download").on("change", "input.content-size__radio", function(e) {
      var $wrapper = $(e.delegateTarget);
      var url = $(this).parent("li.content-size").data("download-url");
      $wrapper.find('.content-download__button a').attr("href", url);
    });
  });
