.background
- content_for :facebook_meta do
  = tag :meta, property: "og:type", content: "website"
  = tag :meta, property: "og:url", content: video_url(@video)
  = tag :meta, property: "og:title", content: "셀수스 - #{@video.title}"
  = tag :meta, property: "og:description", content: (@video.body)
.container
  %section
    .content-main
      .row
        .col-sm-7
          = raw @video.iframe_html
          .content-main__sns.text-left
            %a{"data-via" => "twitterdev", :href => "https://twitter.com/share"}
              = image_tag 'btn-tw.png', alt: "트위터버튼"
            %a{:href => "http://www.facebook.com/sharer.php?u=#{video_url(@video)}"}
              = image_tag 'btn-fb.png', alt: "페이스북버튼"
            %a{:href => "https://plus.google.com/share?url=#{video_url(@video)}"}
              = image_tag 'btn-google.png', alt: "구글버튼"
            .fb-like{"data-action" => "like", "data-href" => video_url(@video), "data-layout" => "button", "data-share" => "false", "data-show-faces" => "false"}
        .col-sm-5
          .content-main__spec.content-spec
            .content-spec__title
              = image_tag 'icon-video.png'
              %h3.iblc #{@video.title}
            %p.content-spec__text
              #{@video.body}
            %p.content-spec__text
              = @video.link
            %p.content-spec__text
              - if @video.owner_name
                저작권자 : #{@video.owner_name}
                (
                = link_to @video.check_owner_url, @video.check_owner_url
                )

            - if current_user
              = link_to '#', class: 'content-spec__link', "data-target" => "#warning", "data-toggle" => "modal" do
                저작권 신고하기
                = image_tag 'icon-button.png'
            - else
              = link_to '#', data: { confirm: '로그인 후 이용가능 합니다.'}, class: 'content-spec__link' do
                저작권 신고하기
                = image_tag 'icon-button.png'
            .content-spec__copyright
              - if @video.extra_copyright
                = link_to (@video.copy_right_image_url), @video.copy_right_licence_info_url
              - else
                = link_to image_tag(@video.copy_right_image_url), @video.copy_right_licence_info_url
          .content-main__download.content-download
            %ul.content-download__list
              - if @video.download_links_hash.present?
                - @video.download_links_hash.each do |down|
                  %li.content-size{"data-download-url" => video_download_path(@video, type_quality: down["quality"])}
                    %input.content-size__radio{:type => "radio", name: "video_radio", value: down["quality"]}
                    %span.content-size__option
                      = "#{down['width']} X #{down['height']}"
                    %span.content-size__type
                      = down["type"]
                .content-download__button.text-center{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
                  %a{:href => "#", :role => "button", :class => "iblc"} 다운로드
              - else
                .text-center
                  %br
                  = '다운로드를 제공하지 않습니다.'

    .content
      .content-box
        %h4.content-box__title
          ="키워드"
        %p.content-box__description
          - if @video.tags
            - @video.tags.each do |tag|
              %span.label.label-default
                = link_to tag.name, [:tags, :contents, tag: tag.name]

      - if @friendly_videos.present?
        .content-box
          %h4.content-box__title
            ="관련 비디오"
          .content-box__imglist.content-imglist
            .img-list.als-container
              %span.als-prev
                = image_tag 'icon-arrow-left.png', alt: '왼쪽버튼'
              .als-viewport
                %ul.als-wrapper
                  - @friendly_videos.each do |fr_video|
                    %li.als-item
                      = link_to image_tag(fr_video.thumbnail_url), fr_video
              %span.als-next
                = image_tag 'icon-arrow-right.png', alt: '오른쪽버튼'
            .clearfix
      - if @author_videos.present?
        .content-box
          %h4.content-box__title
            ="작가의 최신 비디오"
          .content-box__imglist.content-imglist
            .img-list.als-container
              %span.als-prev
                = image_tag 'icon-arrow-left.png', alt: '왼쪽버튼'
              .als-viewport
                %ul.als-wrapper
                  - @author_videos.each do |author_video|
                    %li.als-item
                      = link_to image_tag(author_video.thumbnail_url), author_video
              %span.als-next
                = image_tag 'icon-arrow-right.png', alt: '오른쪽버튼'
            .clearfix

  %section
    .fb-comments{"data-colorscheme" => "light", "data-href" => video_url(@video), "data-numposts" => "5", "width" => "100%" , "data-width" => "100%"}
  .text-center
    = link_to '목록으로', [:videos], class: 'btn btn-default'


  = render 'warning_modal'
  = render 'social_share_script'

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        \...
        =@video.title
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        .content-download__button
          %a{:href => "#", :role => "button", :class => "iblc", :id => 'content-download-btn' } 다운로드


  :javascript
    $(function() {
      $(".content-download").on("click", ".content-size", function(e) {
        var $wrapper = $(e.delegateTarget);
        var url = $(this).data("download-url");
        $(this).find('.content-size__radio').prop('checked', true);
        $("#content-download-btn").attr("href", url);
      });
    });


