#footer
  .footer-menu
    .container
      %ul
        %li{class: ( (params[:controller] =~ /video/) ? 'active': '') }= link_to '공지사항', posts_path(category: '공지사항')
        %li{class: ( (params[:controller] =~ /image/) ? 'active': '')}= link_to 'FAQ', '#'
        %li{class: ( (params[:controller] =~ /audio/) ? 'active': '')}= link_to '신고/제보', '#'
        %li{class: ( (params[:controller] =~ /post/) ? 'active': '')}= link_to '블로그', posts_path
  .footer-info
    .container
      .logo.iblc
        = image_tag 'footer-logo.png', class: 'footer-logo'
      .info.iblc
        고객지원센터
        .social-buttons
          = link_to "http://facebook.com/celsuscoop", target: '_blank' do
            %i.fa.fa-facebook
          = link_to "http://twitter.com/celsuscoop", target: '_blank' do
            %i.fa.fa-twitter
          = mail_to "mailservice@celsus.org", target: '_blank' do
            %i.fa.fa-envelope-o

        %p 이메일   service@celsus.org
        %ul.menu-list
          %li.iblc.pull-left
            %a{:href => ""} 자주하는 질문
          %li.iblc.pull-left
            %a{:href => ""} 컨텐츠 사용안내
          %li.iblc.pull-left
            %a{:href => ""} 상품구매안내
          .clearfix
        %small
          © 2014 Celsus. Powered by Celsus, manufactured by
          = link_to "UFOfactory", "http://ufofactory.org"

      .menu-list.iblc
        .menu-list__linkbox.iblc
          %a{:href => ""} Celsus 회사소개
          %a{:href => ""} Celsus 오디오
        .menu-list__linkbox.iblc
          %a{:href => ""} Celsus 비디오
          %a{:href => ""} Celsus 리믹스
          %a{:href => ""} Celsus 이미지
        .menu-list__linkbox.iblc
          %a{:href => ""} 개인정보취급방침
          %a{:href => ""} 이용약관